[submodule "librtcdcpp"]
	path = librtcdcpp
	url = https://github.com/chadnickbok/librtcdcpp.git
        ignore = untracked
[submodule "usrsctp"]
	path = usrsctp
	url = git@github.com:LoveIsGrief/usrsctp.git
        ignore = untracked
